<app-nav-bar></app-nav-bar>

<form [formGroup]="editForm" ngClass="editForm">

  <h2>{{'Edit your information' | translate}}</h2>
  <mat-form-field appearance="outline" hintLabel="{{'One or two words' | translate}}">
    <mat-label>
      {{'Enter your name' | translate}}
    </mat-label>
    <input matInput formControlName="name"
           placeholder="{{'Enter your name' | translate}}" AUTOCOMPLETE="off"
           ngClass="inputName">
    <mat-error
      *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
      <mat-error
        *ngIf="editForm.get('name').errors['required']">
        {{'Field can not be empty' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('name').errors['incorrectName']">
        {{'Incorrect name' | translate}}
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-progress-bar mode="indeterminate"
                    *ngIf="editForm.get('name').pending">

  </mat-progress-bar>

  <mat-form-field appearance="outline">
    <mat-label>
      {{'Enter your password' | translate}}
    </mat-label>
    <input matInput formControlName="password"
           placeholder="{{'Enter your password' | translate}}" AUTOCOMPLETE="off"
           ngClass="inputName">
    <mat-error
      *ngIf="editForm.get('password').invalid && (editForm.get('password').dirty || editForm.get('password').touched)">
      <mat-error
        *ngIf="editForm.get('password').errors['required']">
        {{'Field can not be empty' | translate}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="{{'Only integer' | translate}}">
    <mat-label>
      {{'Enter your age' | translate}}
    </mat-label>
    <input matInput formControlName="age"
           placeholder="{{'Enter your age' | translate}}"
           AUTOCOMPLETE="off" maxlength="2">
    <mat-error
      *ngIf="editForm.get('age').invalid && editForm.get('age').touched">
      <mat-error
        *ngIf="editForm.get('age').errors['required']">
        {{'Field can not be empty' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('age').errors['incorrectAge']">
        {{'Incorrect age value' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('age').errors['invalidAge']">
        {{'Invalid age value' | translate}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="YYYY/MM/DD | DD MMMM YYYY | DD-MMM-YY">
    <mat-label>
      {{'Enter date of your birthday' | translate}}
    </mat-label>
    <input matInput formControlName="dateOfBirth"
           placeholder="{{'Enter date of your birthday' | translate}}"
           AUTOCOMPLETE="off">
    <mat-error
      *ngIf="editForm.get('dateOfBirth').invalid && editForm.get('dateOfBirth').touched">
      <mat-error
        *ngIf="editForm.get('dateOfBirth').errors['required']">
        {{'Field can not be empty' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfBirth').errors['futureDateError']">
        {{'Incorrect date value-future' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfBirth').errors['dateValueError']">
        {{'Incorrect date value' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfBirth').errors['dateFormatError']">
        {{'Invalid date format' | translate}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="YYYY/MM/DD | DD MMMM YYYY | DD-MMM-YY">
    <mat-label>
      {{'Enter date Of login' | translate}}
    </mat-label>
    <input matInput formControlName="dateOfLogin"
           placeholder="{{'Enter date Of login' | translate}}"
           AUTOCOMPLETE="off">
    <mat-error
      *ngIf="editForm.get('dateOfLogin').invalid && editForm.get('dateOfLogin').touched">
      <mat-error
        *ngIf="editForm.get('dateOfLogin').errors['required']">
        {{'Field can not be empty' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfLogin').errors['dateValueError']">
        {{'Incorrect date value' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfLogin').errors['dateFormatError']">
        {{'Invalid date format' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfLogin').errors['futureDateError']">
        {{'Future date' | translate}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="YYYY/MM/DD | DD MMMM YYYY | DD-MMM-YY">
    <mat-label>
      {{'Enter date of notification' | translate}}
    </mat-label>
    <input matInput formControlName="dateOfNotification"
           placeholder="{{'Enter date of notification' | translate}}"
           AUTOCOMPLETE="off">
    <mat-error
      *ngIf="editForm.get('dateOfNotification').invalid && editForm.get('dateOfNotification').touched">
      <mat-error
        *ngIf="editForm.get('dateOfNotification').errors['required']">
        {{'Field can not be empty' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfNotification').errors['dateValueError']">
        {{'Incorrect date value' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfNotification').errors['dateFormatError']">
        {{'Invalid date format' | translate}}
      </mat-error>
      <mat-error *ngIf="editForm.get('dateOfNotification').errors['pastDateError']">
        {{'Past date' | translate}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="{{'Your information' | translate}}">
    <mat-label>
      {{'Enter some information' | translate}}
    </mat-label>
    <input matInput formControlName="information"
           placeholder="{{'Enter some information' | translate}}" AUTOCOMPLETE="off"
           ngClass="inputName">
    <mat-error
      *ngIf="editForm.get('information').invalid
      && (editForm.get('information').dirty
      || editForm.get('information').touched)">
      <mat-error
        *ngIf="editForm.get('information').errors['required']">
        {{'Field can not be empty' | translate}}
      </mat-error>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary"
          (click)="submitForm()"
          ngClass="submitButton">
    {{'Submit' | translate}}
  </button>
</form>
