<form [formGroup]="regForm" ngClass="regForm" *ngIf="!validForm">

  <mat-form-field appearance="outline" hintLabel="One or two words (Name Surname)">
    <mat-label>
      Enter your name
    </mat-label>
    <input matInput formControlName="name"
           placeholder="Enter your name" AUTOCOMPLETE="off"
           ngClass="inputName"
           >
    <mat-error
      *ngIf="regForm.get('name').invalid && (regForm.get('name').touched || regForm.get('name').touched)">
      <mat-error
        *ngIf="regForm.get('name').errors['required']">
        Field can not be empty!
      </mat-error>
      <mat-error *ngIf="regForm.get('name').errors['incorrectName']">
        Incorrect name! 1 or 2 words. NO numbers and special symbols. Only Latin.
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="Only integer from 18 to 65">
    <mat-label>
      Enter your age
    </mat-label>
    <input matInput formControlName="age"
           placeholder="Enter your age"
           AUTOCOMPLETE="off" maxlength="2">
    <mat-error
      *ngIf="regForm.get('age').invalid && regForm.get('age').touched">
      <mat-error
        *ngIf="regForm.get('age').errors['required']">
        Field can not be empty!
      </mat-error>
      <mat-error *ngIf="regForm.get('age').errors['incorrectAge']">
        Incorrect age value! You must enter an integer number!
      </mat-error>
      <mat-error *ngIf="regForm.get('age').errors['invalidAge']">
        Invalid age value! You must be between 18 and 65 years old to register.
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="YYYY/MM/DD | DD MMMM YYYY | DD-MMM-YY">
    <mat-label>
      Enter date of your birthday
    </mat-label>
    <input matInput formControlName="dateOfBirth"
           placeholder="Enter date of your birthday"
           AUTOCOMPLETE="off">
    <mat-error
      *ngIf="regForm.get('dateOfBirth').invalid && regForm.get('dateOfBirth').touched">
      <mat-error
        *ngIf="regForm.get('dateOfBirth').errors['required']">
        Field can not be empty!
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfBirth').errors['futureDateError']">
        Incorrect date value! Date of Birthday can not be in future!
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfBirth').errors['dateValueError']">
        Incorrect date value! Valid Date Formats: YYYY/MM/DD, DD MMMM YYYY, DD-MMM-YY
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfBirth').errors['dateFormatError']">
        Invalid date format! Valid Date Formats: YYYY/MM/DD, DD MMMM YYYY, DD-MMM-YY
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="YYYY/MM/DD | DD MMMM YYYY | DD-MMM-YY">
    <mat-label>
      Enter date Of login
    </mat-label>
    <input matInput formControlName="dateOfLogin"
           placeholder="Enter date Of login"
           AUTOCOMPLETE="off">
    <mat-error
      *ngIf="regForm.get('dateOfLogin').invalid && regForm.get('dateOfLogin').touched">
      <mat-error
        *ngIf="regForm.get('dateOfLogin').errors['required']">
        Field can not be empty!
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfLogin').errors['dateValueError']">
        Incorrect date value! Valid Date Formats: YYYY/MM/DD, DD MMMM YYYY, DD-MMM-YY
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfLogin').errors['dateFormatError']">
        Invalid date format! Valid Date Formats: YYYY/MM/DD, DD MMMM YYYY, DD-MMM-YY
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfLogin').errors['futureDateError']">
        Future date can not be used here!
      </mat-error>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" hintLabel="YYYY/MM/DD | DD MMMM YYYY | DD-MMM-YY">
    <mat-label>
      Enter date of notification
    </mat-label>
    <input matInput formControlName="dateOfNotification"
           placeholder="Enter date of notification"
           AUTOCOMPLETE="off">
    <mat-error
      *ngIf="regForm.get('dateOfNotification').invalid && regForm.get('dateOfNotification').touched">
      <mat-error
        *ngIf="regForm.get('dateOfNotification').errors['required']">
        Field can not be empty!
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfNotification').errors['dateValueError']">
        Incorrect date value! Valid Date Formats: YYYY/MM/DD, DD MMMM YYYY, DD-MMM-YY
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfNotification').errors['dateFormatError']">
        Invalid date format! Valid Date Formats: YYYY/MM/DD, DD MMMM YYYY, DD-MMM-YY
      </mat-error>
      <mat-error *ngIf="regForm.get('dateOfNotification').errors['pastDateError']">
        The past date can not be used here!
      </mat-error>
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="submitForm()" ngClass="submitButton">Submit</button>
</form>

<div *ngIf="validForm" ngClass="enteredInfoBox">
  <h2 ngClass="header">
    Entered information
  </h2>
  <div ngClass="infoBox">
    <span ngClass="labelField">Name:</span>
    <span ngClass="valueField">{{this.formValues.name}}</span>
  </div>
  <div ngClass="infoBox">
    <span ngClass="labelField">Age:</span>
    <span ngClass="valueField">{{this.formValues.age}}</span>
  </div>
  <div ngClass="infoBox">
    <span ngClass="labelField">Date of birthday:</span>
    <span ngClass="valueField">{{this.formValues.dateOfBirth}}</span>
  </div>
  <div ngClass="infoBox">
    <span ngClass="labelField">Date of login:</span>
    <span ngClass="valueField">{{this.formValues.dateOfLogin}}</span>
  </div>
  <div ngClass="infoBox">
    <span ngClass="labelField">Date of notification:</span>
    <span ngClass="valueField">{{this.formValues.dateOfNotification}}</span>
  </div>
</div>
