<div class="row justify-content-center main">
  <div class="col-6">
    <div class="wrapper panel-shadow">
      <div class="chosen panel-shadow disable-user-select w-100">
        <div class="d-flex flex-row">
          <app-user-chosen
            class="d-flex align-self-stretch flex-grow-1"
            [currentUser]="currentUser">
          </app-user-chosen>
          <app-user-list-badge
            class="d-flex align-self-stretch"
            (click)="getUsers()"
            [(Dropdown)]="Dropdown">
          </app-user-list-badge>
        </div>
      </div>
      <div class="options panel-shadow {{Dropdown ? 'hide' : 'show'}}">
        <app-user-dropdown-list [(selectedUser)]="currentUser"
                                [users]="users"
                                [(Dropdown)]="Dropdown">

        </app-user-dropdown-list>
      </div>
    </div>
  </div>
</div>
