<form [formGroup]="forgotForm" ngClass="forgotForm">

  <mat-form-field appearance="outline" hintLabel="One or two words (Name Surname)">
    <mat-label>
      {{'Enter your name' | translate}}
    </mat-label>
    <input matInput formControlName="name"
           placeholder="{{'Enter your name' | translate}}" AUTOCOMPLETE="off"
           ngClass="inputName">
    <mat-error
      *ngIf="forgotForm.get('name').invalid && (forgotForm.get('name').dirty || forgotForm.get('name').touched)">
      <mat-error
        *ngIf="forgotForm.get('name').errors['required']">
        {{'Field can not be empty' | translate}}
      </mat-error>
      <mat-error *ngIf="forgotForm.get('name').errors['incorrectName']">
        {{'Incorrect name' | translate}}
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-progress-bar mode="indeterminate" *ngIf="forgotForm.get('name').pending"></mat-progress-bar>

  <button mat-raised-button color="primary" (click)="submitForm()" ngClass="submitButton">
    {{'Remember password' | translate}}
  </button>
  <br>
  <button mat-stroked-button color="warn"
          ngClass="forgotPasswordButton"
          routerLink="/login">
    {{'Back' | translate}}
  </button>
</form>

